{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th> Date Created</th>
        </tr>
            <tr>
                <td>{{ wish.title }}</td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.author }}</td>
                <td>{{ wish.dateCreated|date("Y/m/d") }}</td>

            </tr>
    </table>
    <a href="{{ path('_edit',{id: wish.id}) }}">Modifier</a>
    <a href="{{ path('_delete') }}">Supprimer</a>

{% endblock %}
